Saved/
LocalBuilds/
.idea/*
.vsconfig
*.DotSettings.*
*.csproj.*
.vs/*
*.pdb
*.suo
*.opensdf
*.sdf
*.tmp
*.mdb
obj/
*.vcxproj
*.sln
*-Debug.*
FileOpenOrder/
*.xcworkspace
*.xcodeproj
./Makefile
./CMakeLists.txt
.ue4dependencies
Samples/*
FeaturePacks/*
Templates/*
Build/Receipts/*
DerivedDataCache/*
Binaries/*-Shipping.*
Intermediate/*
Plugins/**/Intermediate/*
Binaries/Win64/*DebugGame*
Content/*
Binaries/*